# this should be default for all systems, because
# it's a very high security risk to keep the default (of false)
ignore-scripts=true

# super strict mode
auto-install-peers=false
resolve-peers-from-workspace-root=false


